:host {
  display: block;
}

input {
  width: 16px;
  height: 16px;
  padding: 8px;
  font-size: 24px;
  border-radius: 8px;
  margin-right: 10px;
  outline: none;
  border: none;
  background-color: #f6f6f6;
  text-align: center;
}
